*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
main .main-container{
    display: flex;
    width: 90vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: #01E37F;
}

.sub-container{
    background-color: #fff;
    width:50%;
    height: 60%;
}

.sub-container-items{
    position: absolute;
    width: 19%;
    height: 40%;
    background-color: skyblue;
    z-index: 1;
    left: 243px;
    top: 190px;
}
.design{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}