* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #d2d2d2;
    padding: 10px;
  }

  .section-result {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f4f0f5;
    margin-bottom: 10px;
  }

  /* sub-container */
  .sub-container {
    background-color: #f4f0f5;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
  }

  .result-heading {
    display: flex;
    justify-content: space-between;
  }

  /* Job-cards */
  .job-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
    width: 250px;
    height: 140px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 84px;
  }

  /* logo and title wrapper */
  .wrapper {
    display: flex;
    gap: 10px;
  }

  /* job-tags */

  .job-title h6 {
    font-weight: bold;
  }

  .job-tags {
    display: flex;
    gap: 5px;
  }

  .job-tags span {
    background-color: #f4f0f5;
    border-radius: 5px;
    padding: 5px;
    font-size: 11px;
  }

  /*logo container */
  .logo {
    background-color: #d2d2d2;
    width: 49px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
  }

  .logo img {
    width: 40px;
    height: 30px;
  }

  .fa-wallet {
    color: pink;
  }

  .salary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .salary h6 {
    font-size: 13px;
  }

  .items {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .items h6 {
    margin-top: 5px;
  }

  .salary p {
    margin-top: 14px;
    font-size: 12px;
    color: gray;
  }

}

@media (min-width: 600px) and (max-width: 992px) {
  .main-container {
    display: flex;
   flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #d2d2d2;
    padding: 10px;
  }

  .section-result {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f4f0f5;
    margin-bottom: 10px;
  }



  .sub-container {
    background-color: #f4f0f5;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
  }

  .result-heading {
    display: flex;
    justify-content: space-between;
  }

  /* Job-cards */
  .job-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
    width: 250px;
    height: 140px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 84px;
  }

  /* logo and title wrapper */
  .wrapper {
    display: flex;
    gap: 10px;
  }

  /* job-tags */

  .job-title h6 {
    font-weight: bold;
  }

  .job-tags {
    display: flex;
    gap: 5px;
  }

  .job-tags span {
    background-color: #f4f0f5;
    border-radius: 5px;
    padding: 5px;
    font-size: 11px;
  }

  /*logo container */
  .logo {
    background-color: #d2d2d2;
    width: 49px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
  }

  .logo img {
    width: 40px;
    height: 30px;
  }

  .fa-wallet {
    color: pink;
  }

  .salary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .salary h6 {
    font-size: 13px;
  }

  .items {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .items h6 {
    margin-top: 5px;
  }

  .salary p {
    margin-top: 14px;
    font-size: 12px;
    color: gray;
  }





























}







#job-img {
  width: 90px;
  height: 90px;
  border-radius: 5%;
}



.section-search .input-group {
  display: flex;
  align-items: center;
  background-color: #f4f0f5;
  width: 450px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-group input[type="text"] {
  width: 100px;
}

.fa-location-dot {
  margin-right: 12px;
}

.fa-chevron-down {
  margin-left: 5px;
}

.search-btn {
  background-color: #ff5fa3;
  color: #fff;
  /* White text for better contrast */
  border: none;
  /* Remove the default border */
  padding: 10px 20px;
  /* Adjust padding as needed */
  border-radius: 5px;
  /* Add rounded corners */
  cursor: pointer;
  /* Change cursor to a hand when hovering */
  margin: 10px;
}

.icon-container {
  position: relative;
}

.icon-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.drop-down-btn {
  background-color: #f4f0f5;
}

.drop-down-btn i {
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY (-50%);
  color: #333;
}

#search-icon {
  padding-left: 40px;
  /* Adjust padding to make room for the icon */
  width: 170px;
}

#search-city {
  padding-left: 40px;
  /* Adjust padding to make room for the icon */
  width: 150px;
}

.fa-chevron-down {
  margin-left: -25px;
}
